<!DOCTYPE htmllang="en">
{% set place = rows[0] %}
<html>
<head>
<title>Rocky Beaches. {{ place.address }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/static/tidepools.css">

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ==" crossorigin="">
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet-src.js" integrity="sha512-WXoSHqw/t26DszhdMhOXOkI7qCiv5QWXhH9R7CgvgZMHz1ImlkVQ3uNsiQKu5wwbbxtPzFXd1hK4tzno2VqhpA==" crossorigin=""></script>
</head>
<body>

<header class="section">
  <div class="stretch">
    <h1 class="title">Rocky Beaches</h1>
  </div>
</header> <!-- end header -->

<div class="page">
  <section class="page-title">
    <div class="title-wrapper stretch">
      <h1 class="text"><span>{{ place.address }}</span></h1>
    </div>
  </section> <!-- end .page-title -->

  {% set species_counts = graphql('''
  {
    places_row(slug: "pillar-point") {
      species_counts_list(first: 9, sort_desc: count) {
        nodes {
          count
          taxon {
            id
            preferred_common_name
            wikipedia_url
            name
            default_photo
          }
        }
      }
    }
  }
  ''')["places_row"]["species_counts_list"]["nodes"] %}

  <section class="content">
    <div class="primary">

          <p class="intro">{{ place.tagline|safe }}</p>

      <ul class="subnav">
        <!-- <li><a href="#origin">Why here?</a></li> -->
        <li><a href="#how-to-get-there">How to get there</a></li>
        <li><a href="#when-to-visit">When to visit</a></li>
        <li><a href="#other-considerations">Other considerations</a></li>
      </ul>


      {{ place.body|safe }}

      <h2>What you could see</h2>
      <div>
        <ul class="species-list">
          {% for species_count in species_counts %}
            <li class="species"><a href="https://www.inaturalist.org/taxa/{{species_count.taxon.id}}" class="taxa-link-wrap">
              <h3 class="name"><span class="image" style="background-image: url('{{ json.loads(species_count.taxon.default_photo)["medium_url"] }}')"></span>{{ species_count.taxon.preferred_common_name }}</h3>
              <p class="latin">{{ species_count.taxon.name }}</p>

            <p class="meta seen">seen here {{ species_count.count }} times</p>
            </a>
            </li>
          {% endfor %}
        </ul>
      </div>

      {% set best_times = best_times_for_place(place.slug) %}
      {% if best_times %}
        <h3>Good times to visit in the next 30 days</h3>
        <p>To get the most out of tidepooling, you'll want to go when the tide
          is low so that the rocks of the beaches are visible and as the ocean
          tide gets lower it leaves behind little pools of water in which you can
          see lots of fun critters!</p>
          <p>Try to arrive before the lowest tide time, so that you can have some
            fun on the tidepools before the tide rises again. Below are the four
            best low tides for {{ place.tagline|safe }} in the next 30 days during
            daylight hours.</p>
        {% for best_time in best_times %}
          <p class="good-tide">
            <strong>{{ best_time.date.strftime("%A %-d") }}{{ ordinal(best_time.date.day) }} {{ best_time.date.strftime("%B %Y") }}</strong>
            at {{ nice_time(best_time.lowest_tide_time) }} for a low tide of {{ best_time.lowest_tide }}ft.
            <span class="meta">sunrise is {{ nice_time(best_time.sunrise) }} and sunset is {{ nice_time(best_time.sunset) }}</span>
          </p>
        {% endfor %}
        <p><a href="#when-to-visit">See more good times to visit.</a></p>
      {% endif %}

    </div> <!-- end .primary -->

    <div class="secondary pull-out">
      <h2>Tidepooling tips</h2>
      <h3>Stay safe</h3>
      <ul class="bullets">
        <li>Never turn your back on the ocean.</li>
        <li>Wear water shoes and watch your step.</li>
        <li>Pack water and sunscreen.</li>
      </ul>

      <h3>Respect the reef</h3>
      <ul class="bullets">
        <li>Don't take anything from the reef, leave it for others to enjoy.</li>
        <li>Leave the reef as you found it, careful where you step and try not to break the reef or step on living things'</li>
        <li>Take all your litter back home with you.</li>
      </ul>

      <h3>Have fun!</h3>
      <ul class="bullets">
        <li>Take lots of photos, <a href="https://www.inaturalist.org/">upload to iNaturalist</a> for help identifying.</li>
        <li>If you don't see anything, sit very still, wait and watch!</li>
      </ul>
      <!-- <p><a href="#">See more tips</a></p> -->
    </div>
  </section> <!-- end .page-title -->

  <section class="content">
    <!-- <a class="anchor" name="how-to-get-there"></a> -->
    <h2 class="stretch"><span>How to get there</span></h2>
    <div class="primary">
      {{ place.directions|safe }}

      <h3>Parking</h3>
      {{ place.parking|safe }}
    </div>

    <div class="secondary">
      info
      {{ place.address|safe }}
      {{ place.phone|safe }}
      {{ place.open_to_public|safe }}
      {{ place.bathrooms|safe }}
      {{ place.visitor_center|safe }}
      {{ place.docents|safe }}
      {{ place.dogs|safe }}
      {{ place.entry_cost|safe }}
    </div> <!-- end .secondary -->

    <div class="primary">
      <!-- <div id="map"></div> -->

      <script type="text/javascript">
      var tiles = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
              maxZoom: 19,
              detectRetina: true,
              attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Points &copy 2012 LINZ'
          }),
          latlng = L.latLng({{ place.latitude }}, {{ place.longitude }});

      var map = L.map('map', {
          center: latlng,
          zoom: 14,
          layers: [tiles]
      });
      L.circle([{{ place.latitude }}, {{ place.longitude }}], {{ place.radius_km }} * 1000).addTo(map);
      map.on('moveend', function() {
        console.log(map.getCenter());
      });
      // Fetch things you might see
      var url="http://api.inaturalist.org/v1/observations/species_counts?lat={{ place.latitude }}&lng={{ place.longitude }}&radius={{ place.radius_km }}&per_page=9";
      fetch(url).then(
        response => response.json()
      ).then(data => {
        var divs = data.results.map(item => {
          var div = document.createElement('div');
          div.innerHTML = `
            <h3>${item.taxon.preferred_common_name}</h3>
            <img width="80px" src="${item.taxon.default_photo.medium_url}">
            <p>Seen ${item.count} time${item.count === 1 ? '' : 's'}</p>
          `;
          return div;
        });
        var wrapper = document.getElementById('species');
        divs.map(div => wrapper.appendChild(div));
        console.log(divs);
      });

      </script>

    </div> <!-- end .primary -->
  </section>

  {% set observations = graphql('''
  {
    places_row(slug: "pillar-point") {
      observations_list(first: 20, sort_desc:observed_on) {
        nodes {
          id
          observed_on
          user
          taxon {
            preferred_common_name
            name
          }
        }
      }
    }
  }
  ''')["places_row"]["observations_list"]["nodes"] %}

  <section class="content">
    <!-- <a class="anchor" name="when-to-visit"></a> -->
    <h2 class="stretch"><span>When to visit</span></h2>
    <div class="full">

      <p>As a general rule it is always a good idea to get to the tidepool site
        before the lowest tide so that you can have a good time looking at critters
        before the tide starts to come in.</p>

      <h3>Low tides in the next 30 days</h3>

      {% for day in next_30_days() %}
        <div class="tide-prediction">
          <h4 class="tide-day header3">{{ day.strftime("%A %-d") }}{{ ordinal(day.day) }} {{ day.strftime("%B %Y") }}</h4>

          {% set tide_data = tide_data_for_place(place.slug, day) %}
          <p class="advice">The lowest tide in daylight today is <strong>{{ "%.2f"|format(tide_data.lowest_tide.feet) }}ft</strong> at <strong>{{ tide_data.lowest_tide.time }}</strong></p>

          {% set depth_view = calculate_depth_view(-2, 2, tide_data.lowest_tide.feet) %}
          <div class="depth-view">
            <span class="depth negative" style="left: {{ depth_view.left }}%; width: {{ depth_view.width }}%">lowest tide is</span> <span class="number" style="left: {{ depth_view.left }}%">{{ tide_data.lowest_tide.feet }}ft</span>
          </div>

          <div class="day-view" style="
            background: linear-gradient(90deg,
              #176AB8 0%,
              #97bcdf {{ tide_data.dawn_pct }}%,
              #d1e1f1 {{ tide_data.sunrise_pct }}%,
              #FFFFFF {{ tide_data.noon_pct }}%,
              #d1e1f1 {{ tide_data.sunset_pct }}%,
              #97bcdf {{ tide_data.dusk_pct }}%,
              #176AB8 100%
            );
          ">
            {% for minima in tide_data.minimas %}
              <span class="minima best-minima" style="left: {{ minima.time_pct }}%">
                <span class="time">{{ minima.time }}</span>
                <span class="depth">{{ minima.feet }}ft</span>
              </span>
            {% endfor %}
          </div>
        </div>
      {% endfor %}

      <h3>Recent observations at {{ place.address }}</h3>
      {% for observation in observations %}
        <p>{{ observation.taxon.preferred_common_name }} spotted <a href="https://www.inaturalist.org/observations/{{ observation.id }}">on {{ observation.observed_on }} by {{ json.loads(observation.user)["login"] }}</a></p>
      {% endfor %}
    </div>
  </section>

  <section class="content">
    <!-- <a class="anchor" name="other-considerations"></a> -->
    <h2 class="stretch"><span>Other considerations</span></h2>

    <div class="full">
      <h3>Accessibility and Safety</h3>
      {{ place.accessibility_and_safety|safe }}

      <!-- <p>TODO repeat general tips and link to read more</p> -->

      <h3>Pet Policy</h3>
      {{ place.pet_policy|safe }}

      <h3>Food options</h3>
      {{ place.food_options|safe }}

    </div>
  </section> <!-- end .content -->
</div> <!-- end .page -->

<footer class="section">
    <ul class="full">
      <li><a href="https://github.com/natbat/rockybeaches">About</a></li>
      <li><a href="mailto:natbat+rockybeaches@natbat.net">Contact</a></li>
    </ul>
</footer> <!-- end footer -->

</body>
</html>
