<!DOCTYPE html>
{% set place = rows[0] %}
<html>
<head>
<title>Rocky Beaches. {{ place.address }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/static/tidepools.css">

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ==" crossorigin="">
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet-src.js" integrity="sha512-WXoSHqw/t26DszhdMhOXOkI7qCiv5QWXhH9R7CgvgZMHz1ImlkVQ3uNsiQKu5wwbbxtPzFXd1hK4tzno2VqhpA==" crossorigin=""></script>

</head>
<body>

<header class="section">
  <div class="stretch">
    <h1 class="title">Rocky Beaches</h1>
  </div>
</header> <!-- end header -->

<section class="page-title">
  <div class="title-wrapper stretch">
    <h1 class="text"><span>{{ place.address }}</span></h1>
  </div>
</section> <!-- end .page-title -->



{% set species_counts = graphql('''
{
  places_row(slug: "pillar-point") {
    species_counts_list(first: 10, sort_desc: count) {
      nodes {
        count
        taxon {
          preferred_common_name
          wikipedia_url
          default_photo
        }
      }
    }
  }
}
''')["places_row"]["species_counts_list"]["nodes"] %}

<section class="content">
  <div class="primary">
    {{ place.tagline|safe }}
    {{ place.body|safe }}

    <h2>What you could see</h2>
    <div id="species">
      <ul>
        {% for species_count in species_counts %}
          <li>{{ species_count.taxon.preferred_common_name }} (<em>{{ species_count.taxon.name }}]</em>)
          - seen {{ species_count.count }} times
          <img src="{{ json.loads(species_count.taxon.default_photo)["medium_url"] }}" art="{{ species_count.taxon.preferred_common_name }}">
          </li>
        {% endfor %}
      </ul>
    </div>

  </div> <!-- end .primary -->

  <div class="secondary pull-out">
    <h2>Tidepooling tips</h2>
    <h3>Stay safe</h3>
    <ul class="bullets">
      <li>Never turn your back on the ocean.</li>
      <li>Wear water shoes and watch your step.</li>
      <li>Pack water and sunscreen.</li>
    </ul>

    <h3>Respect the reef</h3>
    <ul class="bullets">
      <li>Don't take anything from the reef, leave it for others to enjoy.</li>
      <li>Leave the reef as you found it, careful where you step and try not to break the reef or step on living things'</li>
      <li>Take all your litter back home with you.</li>
    </ul>

    <h3>Have fun!</h3>
    <ul class="bullets">
      <li>Take lots of photos, <a href="https://www.inaturalist.org/">upload to iNaturalist</p> for help identifying.</li>
      <li>If you don't see anything, sit very still, wait and watch!</li>
    </ul>
    <!-- <p><a href="#">See more tips</a></p> -->
  </div>
</section> <!-- end .page-title -->

<section class="content">
  <h2 class="stretch"><span>How to get there</span></h2>
  <div class="primary">
    {{ place.directions|safe }}

    <h3>Parking</h3>
    {{ place.parking|safe }}
  </div>

  <div class="secondary">
    info
    {{ place.address|safe }}
    {{ place.phone|safe }}
    {{ place.open_to_public|safe }}
    {{ place.bathrooms|safe }}
    {{ place.visitor_center|safe }}
    {{ place.docents|safe }}
    {{ place.dogs|safe }}
    {{ place.entry_cost|safe }}
  </div> <!-- end .secondary -->

  <div class="primary">
    <div id="map"></div>

    <script type="text/javascript">
    var tiles = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            detectRetina: true,
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Points &copy 2012 LINZ'
        }),
        latlng = L.latLng({{ place.latitude }}, {{ place.longitude }});

    var map = L.map('map', {
        center: latlng,
        zoom: 14,
        layers: [tiles]
    });
    L.circle([{{ place.latitude }}, {{ place.longitude }}], {{ place.radius_km }} * 1000).addTo(map);
    map.on('moveend', function() {
      console.log(map.getCenter());
    });
    // Fetch things you might see
    var url="http://api.inaturalist.org/v1/observations/species_counts?lat={{ place.latitude }}&lng={{ place.longitude }}&radius={{ place.radius_km }}&per_page=9";
    fetch(url).then(
      response => response.json()
    ).then(data => {
      var divs = data.results.map(item => {
        var div = document.createElement('div');
        div.innerHTML = `
          <h3>${item.taxon.preferred_common_name}</h3>
          <img width="80px" src="${item.taxon.default_photo.medium_url}">
          <p>Seen ${item.count} time${item.count === 1 ? '' : 's'}</p>
        `;
        return div;
      });
      var wrapper = document.getElementById('species');
      divs.map(div => wrapper.appendChild(div));
      console.log(divs);
    });

    </script>

  </div> <!-- end .primary -->
</section>

{% set observations = graphql('''
{
  places_row(slug: "pillar-point") {
    observations_list(first: 20, sort_desc:observed_on) {
      nodes {
        id
        observed_on
        user
        taxon {
          preferred_common_name
          name
        }
      }
    }
  }
}
''')["places_row"]["observations_list"]["nodes"] %}

<section class="content">
  <h2 class="stretch"><span>When to visit</span></h2>
  <div class="full">
    <div class="tides">TODO: tides info here</div>

    <h3>Recent observations at {{ place.address }}</h3>
    {% for observation in observations %}
      <p>{{ observation.taxon.preferred_common_name }} spotted <a href="https://www.inaturalist.org/observations/{{ observation.id }}">on {{ observation.observed_on }} by {{ json.loads(observation.user)["loginz"] }}</a></p>
    {% endfor %}
  </div>
</section>

<section class="content">
  <h2 class="stretch"><span>Other considerations</span></h2>

  <div class="full">
    <h3>Accessibility and Safety</h3>
    {{ place.accessibility_and_safety|safe }}

    <p>TODO repeat general tips and link to read more</p>

    <h3>Pet Policy</h3>
    {{ place.pet_policy|safe }}

    <h3>Food options</h3>
    {{ place.food_options|safe }}

  </div>
</section> <!-- end .content -->

<footer class="section">
    <ul class="full">
      <li><a href="#">About</a></li>
      <li><a href="">Contact</a></li>
    </ul>
</footer> <!-- end footer -->

</body>
</html>
