<!DOCTYPE html>
{% set place = rows[0] %}
<html>
<head>
<title>Rocky Beaches. {{ place.address }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/static/tidepools.css">

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ==" crossorigin="">
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet-src.js" integrity="sha512-WXoSHqw/t26DszhdMhOXOkI7qCiv5QWXhH9R7CgvgZMHz1ImlkVQ3uNsiQKu5wwbbxtPzFXd1hK4tzno2VqhpA==" crossorigin=""></script>

</head>
<body>

<header class="section">
  <div class="inner">
    <h1 class="title">Rocky Beaches</h1>
    <nav></nav>
  </div> <!-- end .inner -->
</header> <!-- end header -->

<section class="page-title">
  <div class="title-wrapper">
    <div class="inner">
      <h1 class="text">{{ place.address }}</h1>
    </div>
  </div> <!-- end .inner -->
</section> <!-- end .page-title -->

<section class="content">
  <div class="inner">

    <div class="primary">
      {{ place.tagline|safe }}
      {{ place.body|safe }}

      <h2>What you could see</h2>
      <div id="species">TODO: INAT TAXA GO HERE</div>
    </div> <!-- end .primary -->

    <div class="secondary">
      tidepool tips
    </div>

  </div> <!-- end .inner -->
</section> <!-- end .page-title -->

<section class="content">
  <div class="inner">
    <div class="primary">
      <h2>How to get there</h2>

      {{ place.directions|safe }}

      <h3>Parking</h3>
      {{ place.parking|safe }}
    </div>

    <div class="secondary">
      info
      {{ place.address|safe }}
      {{ place.phone|safe }}
      {{ place.open_to_public|safe }}
      {{ place.bathrooms|safe }}
      {{ place.visitor_center|safe }}
      {{ place.docents|safe }}
      {{ place.dogs|safe }}
      {{ place.entry_cost|safe }}
    </div> <!-- end .secondary -->

    <div class="primary">
      <div id="map"></div>

      <script type="text/javascript">
      var tiles = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
              maxZoom: 19,
              detectRetina: true,
              attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Points &copy 2012 LINZ'
          }),
          latlng = L.latLng({{ place.latitude }}, {{ place.longitude }});

      var map = L.map('map', {
          center: latlng,
          zoom: 14,
          layers: [tiles]
      });
      L.circle([{{ place.latitude }}, {{ place.longitude }}], {{ place.radius_km }} * 1000).addTo(map);
      map.on('moveend', function() {
        console.log(map.getCenter());
      });
      // Fetch things you might see
      var url="http://api.inaturalist.org/v1/observations/species_counts?lat={{ place.latitude }}&lng={{ place.longitude }}&radius={{ place.radius_km }}&per_page=9";
      fetch(url).then(
        response => response.json()
      ).then(data => {
        var divs = data.results.map(item => {
          var div = document.createElement('div');
          div.innerHTML = `
            <h3>${item.taxon.preferred_common_name}</h3>
            <img width="80px" src="${item.taxon.default_photo.medium_url}">
            <p>Seen ${item.count} time${item.count === 1 ? '' : 's'}</p>
          `;
          return div;
        });
        var wrapper = document.getElementById('species');
        divs.map(div => wrapper.appendChild(div));
        console.log(divs);
      });

      </script>

    </div> <!-- end .primary -->
  </div>
</section>

<section class="content">
  <div class="inner">
    <div class="full">
      <h2>When to visit</h2>

      <div class="tides">TODO: tides info here</div>

      <h3>Species you'll see then </h3>
      <p>TODO: TAXA</p>

      <h3>Recent observations at {{ place.address }}</h3>
      <p>TODO: recent observations</p>
    </div>
  </div>
</section>

<section class="content">
  <div class="inner">
    <div class="full">
      <h2>Other considerations</h2>

      <h3>Accessibility and Safety</h3>
      {{ place.accessibility_and_safety|safe }}

      <p>TODO repeat general tips and link to read more</p>

      <h3>Pet Policy</h3>
      {{ place.pet_policy|safe }}

      <h3>Food options</h3>
      {{ place.food_options|safe }}

    </div>
  </div> <!-- end .inner -->
</section> <!-- end .content -->

<footer class="section">
  <nav class="inner">
    <ul>
      <li><a href="#">About</a></li>
      <li><a href="">Contact</a></li>
    </ul>
  </nav> <!-- end .inner -->
</footer> <!-- end footer -->

</body>
</html>
